PSF_MEMO_DB_URL=http://localhost:5021
RPC_IP=172.17.0.1
RPC_PORT=8332
RPC_USER=bitcoin
RPC_PASS=password
ZMQ_PORT=28332
TX_REST_API_PORT=5455
TX_REST_API_IP=localhost
START_BLOCK_HEIGHT=525000
SEEN_TX_MAX=100000
FILTER_CONCURRENCY=20
MEMO_TX_CONCURRENCY=20
DEBUG_LEVEL=0
