# Environment variables for psf-memo-block-indexer
# Copy this file to .env and modify as needed

PSF_MEMO_DB_URL=http://172.17.0.1:5021

RPC_IP=172.17.0.1
RPC_PORT=8332
ZMQ_PORT=28332
RPC_USER=bitcoin
RPC_PASS=password

TX_REST_API_PORT=5455
TX_REST_API_IP=172.17.0.1

START_BLOCK_HEIGHT=525000
EXIT_ON_MISSING_BACKUP=false
